body{
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #f9fafb;

}
main{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    font-family: Poppins,sans-serif;
    gap: 6px;
}
.container h1{
    color: #22d3ee;
    font-weight: 600;
}
.container select {
    background-color: #374151;
    color: white;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
}
.container select:focus{
    outline: none;
    border-color: #06b6d4;
    box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.5);
}

.container input{
    background-color: #374151;
    border: 2px solid #4b5563;
    color: white;
    margin-top: 6px;
    width: 77%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
}
input[type="text"]:focus {
            outline: none;
            border-color: #06b6d4;
            box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.5);
        }
button{
    background-color: #06b6d4;
    width: 70%;
    color: #111827;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
}

.console{
    background-color: black;
    height:auto;
    padding: 10px;
    margin-top: 30px;
    color: #06b6d4;
    font-size: 0.8rem;
    font-family: poppins,sans-serif;
    align-self: flex-start;
}